TIKTOK_EMAIL = 
TIKTOK_PASSWORD =
DB_USER=postgres
DB_HOST=localhost
DB_NAME=zeruel_net
DB_PORT=5432
DB_PASSWORD=

REDIS_PORT = 6379
GATEWAY_PORT = 4001
SCRAPER_SERVICE_PORT = 3001
ZERUEL_DASHBOARD_SERVICE_PORT = 5001

VITE_REDIS_PORT = 6379
VITE_GATEWAY_PORT = 4001
VITE_SCRAPER_SERVICE_PORT = 3001
VITE_ZERUEL_DASHBOARD_SERVICE_PORT = 5001

NEXT_PUBLIC_REDIS_PORT = 6379
NEXT_PUBLIC_GATEWAY_PORT = 4001
NEXT_PUBLIC_SCRAPER_SERVICE_PORT = 3001
NEXT_PUBLIC_ZERUEL_DASHBOARD_SERVICE_PORT = 5001
